{
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "arrowParens": "always",
  "overrides": [
    {
      "files": ["*.html", "*.css", "*.js", "*.jsx", "*.ts", "*.tsx"],
      "options": {
        "printWidth": 100,
        "tabWidth": 2,
        "useTabs": false,
        "singleQuote": true,
        "semi": true
      }
    }
  ]
}
