/* --- Main parameters --- */

/* Define parameters */
:root {
    /* Build Order (BO) panel */
    --bo_panel_text_color: rgb(255, 255, 255);
    --bo_panel_background_color: rgb(70, 70, 70);
    --bo_panel_emphasis_color: rgb(0, 62, 124);
    --bo_panel_padding: 10px;
    --bo_panel_lines_half_vertical_spacing: 5px;
    --bo_line_config_elements_gap: 10px;
    --bo_line_resources_elements_gap: 8px;
    --bo_line_note_elements_gap: 5px;
    --bo_timing_note_width: 40px;
    --bo_timing_padding_right: 10px;
}

/* Main properties */
body {
    font-family: Arial, Helvetica, sans-serif;
    /* Hide scroll bars */
    overflow: hidden;
}


/* --- Configuration window --- */

/* Main body of the configuration page contains two columns */
#body_config {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* Each column has its elements on the left */
.main_column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

/* Row of elements for the configuration */
.config_row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}


/* --- Overlay window --- */

/* Body of the overlay */
#body_overlay {
    margin: 0;
    padding: 0;
    background-color: var(--bo_panel_background_color);
    display: inline-block;
}


/* --- Build Order (BO) panel --- */

/* BO container */
#bo_panel {
    color: var(--bo_panel_text_color);
    background-color: var(--bo_panel_background_color);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* Single line of the BO panel */
.bo_line {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: var(--bo_panel_padding);
    padding-right: var(--bo_panel_padding);
}

/* Configuration line of the BO panel */
.bo_line_config {
    justify-content: flex-end;
    column-gap: var(--bo_line_config_elements_gap);
    padding-top: var(--bo_panel_padding);
    padding-bottom: var(--bo_panel_lines_half_vertical_spacing);
}

/* Resrouces line of the BO panel */
.bo_line_resources {
    justify-content: flex-start;
    column-gap: var(--bo_line_resources_elements_gap);
    padding-top: var(--bo_panel_lines_half_vertical_spacing);
}

/* Single note line of the BO panel */
.bo_line_note {
    justify-content: flex-start;
    column-gap: var(--bo_line_note_elements_gap);
}

/* First note line of the BO panel */
.bo_line_note_first {
    padding-bottom: var(--bo_panel_lines_half_vertical_spacing);
}

/* Middle (not first, not last) note line of the BO panel */
.bo_line_note_middle {
    padding-top: var(--bo_panel_lines_half_vertical_spacing);
    padding-bottom: var(--bo_panel_lines_half_vertical_spacing);
}

/* Last note line of the BO panel */
.bo_line_note_last {
    padding-top: var(--bo_panel_lines_half_vertical_spacing);
    padding-bottom: var(--bo_panel_padding);
}

/* Color for a BO step with emphasis */
.bo_line_emphasis {
    background-color: var(--bo_panel_emphasis_color);
}

/* Spacing for timing indication in the BO */
.bo_line_note_timing {
    text-align: right;
    width: var(--bo_timing_note_width);
    padding-right: var(--bo_timing_padding_right);
}


/* --- Footer --- */
#footer {
    text-align: center;
}